* {
  padding: 20px;
}
.container {
  margin-top: 60px;
  width: 65%;
  background-color: gray;
}

.container-left {
text-align: center;
border: 1px solid black;
}
.container-right, .container-bottom {
  display: block;
}


.jumbotron {
  margin-top: 25px;
}

.questions {
  margin: none;
  font-size: 2em;
}

ul li{
  list-style: none;
  width: 100%;
  
}
li {
  padding: 10px;
  height: 100px;
  border: 1px solid black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}