* {
  margin: 0 auto;
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#create {
  margin-top: 100px;
}

.topicColumn , .postColumn {
  background: lightsteelblue;
}
form {
  margin: 10px;
}


#postInput {
height: 1416px;
width: 100%;
}

.login-container {
  text-align: center;
  border: 1px solid black;
  width: 50%;
  height: 400px;
  margin-top:100px;
  background: #7686a0;

}
.container1, .container2 {
  text-align: center;
  border-radius: 2%;
  border: 15px solid gray;
}
.container2 {
  height: 100%;
}
.container-left {
text-align: center;
border: 1px solid black;
}
.container-right, .container-bottom {
  display: block;
}

.questions {
  margin: none;
  font-size: 2em;
}

ul li{
  list-style: none;
  width: 100%;

}
li {
  padding: 10px;
  height: 80px;
  font-size: 12;
  border: 1px solid black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.center {
  text-align: center;
}

.user-post-textarea {
  height: 500px;
  width: 100%;
  border-radius: 2%;
  background-color: lightgoldenrodyellow;

}